.tab-content {
  padding: 2rem 0;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(4, auto);
  gap: 24px;
}

.tab-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.company-details-box {
  border: solid lightgray;
  padding: 1rem 2rem;
}
